<div class="jp-main-container">
    <h1>Add New Employee</h1>
    <mat-card class="jp-card-form">
        <form class="jp-form" #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" novalidate>
            <mat-form-field appearance="outline">
                <mat-label>Employee ID</mat-label>
                <input matInput placeholder="Enter Employee ID" name="id">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter First Name" name="firstName" [ngModel]="employeeModel.firstName">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter Last Name" name="lastName" [ngModel]="employeeModel.lastName">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Enter Email" name="email" [ngModel]="employeeModel.email">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary">Submit</button>
        </form>
    </mat-card>
    <br> {{employeeForm.value | json}}
    <hr> {{employeeModel | json}}
</div>