<div class="jp-main-container">
    <h1>Employee List</h1>
    <mat-card class="jp-card-employee-list">
        <mat-list *ngFor="let employee of employees">
            <mat-list-item><span>Employee ID: </span> <span>00{{employee.id}}</span></mat-list-item>
            <mat-list-item><span>{{employee.firstName}} {{employee.lastName}}</span></mat-list-item>
            <mat-list-item><span>{{employee.email}}</span></mat-list-item>
            <hr>
        </mat-list>
    </mat-card>
    <br>
</div>