<nav class="mat-toolbar jp-toolbar">
    <a mat-raised-button color="basic" routerLink="/employees" routerLinkActive="active">Employee List</a>
    <a mat-raised-button color="basic" routerLink="/add-new-employee" routerLinkActive="active">Add New Employee</a>
</nav>

<router-outlet></router-outlet>