/* You can add global styles to this file, and also import other style files */
.jp-toolbar
  padding: 20px
  > *
    font-weight: normal
    margin-right: 20px !important
    &.active
      background-color: #9c27b0

.jp-main-container
  padding: 20px

.jp-card-employee-list
  > *:last-child
    hr
      display: none

.jp-card-form
  width: 50%
  .jp-form
    > *
      display: block
      width: 100%
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0


